.page {
  width: 100%;
  min-width: 320px;
  background: #2a2c2f;
  margin: 0 auto;
  padding-top: 28px;
  padding-bottom: 24px;
  position: relative;
  font-family: 'Inter', 'Arial', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /*border: 1px solid blue;*/
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .page {
    padding-top: 22px;
  }
}

@media screen and (max-width: 424px) {
  .page {
    padding-top: 16px;
  }
}
