.places__url {
  font-family: 'Inter', ‘Arial’, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #AAAAAA;
  margin: 0;
  margin-bottom: 12px;
  /*border: 1px solid blue;*/
}
