.header__lang {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #ffffff;
  /*border: 1px solid blue;*/
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .header__lang {
    font-size: 22px;
    line-height: 26px;
  }
}
@media screen and (max-width: 424px) {
  .header__lang {
    font-size: 18px;
    line-height: 24px;
  }
}
