.intro__list {
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  list-style: none;
  margin: 0;
  padding-left: 0;
  /*border: 1px solid blue;*/
}
