.places__link {
  /*grid-area: link;*/
  /*border: 1px solid blue;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media screen and (max-width: 611px) {
  .places__link {
    display: none;
  }
}
