.cover__subtitle {
  margin: 0;
  max-width: 360px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  /*border: 1px solid blue;*/
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .cover__subtitle {
    max-width: 320px;
    font-size: 16px;
    line-height: 20px;
    }
  }

@media screen and (max-width: 424px) {
  .cover__subtitle {
    max-width: 278px;
    font-size: 14px;
    line-height: 16px;
    }
  }
