@import url(./_place/title_place_card.css);
@import url(./_place/title_place_cover.css);

.title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  color: #ffffff;
  /*border: 1px solid blue;*/
}
