.lead-intro {
    /*box-sizing: border-box;
    border: 1px solid blue;*/
    max-width: 984px;
    margin: 0 auto 92px;
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    .lead-intro {
      width: calc(100% - 96px);
      /*margin: 0 auto 114px;*/
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .lead-intro {
      width: 100%;
      margin: 0 auto 88px;
    }
  }

  @media screen and (min-width: 425px) and (max-width: 767px) {
    .lead-intro {
      width: 100%;
      margin: 0 auto 76px;
    }
  }

  @media screen and (max-width: 424px) {
    .lead-intro {
      width: 100%;
      margin: 0 auto 64px;
    }
  }
