.title_place_card {
  margin: 0;
  font-size: 72px;
  line-height: 76px;
}

@media screen and (min-width: 612px) and (max-width: 1023px) {
  .title_place_card {
    font-size: 42px;
    line-height: 46px;
    padding-right: 10px;
  }
}



@media screen and (max-width: 611px) {
  .title_place_card {
    font-size: 32px;
    line-height: 35px;
    min-width: 288px;
    justify-self: start;
    margin-left: 16px;
  }
}
