.footer__link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  margin: 0;
  margin-right: 18px;
  /*border: 1px solid blue;*/
}

.footer__link:last-child {
  margin-right: 0;
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .footer__link {
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 20px;
  }
}

@media screen and (max-width: 424px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
    margin-right: 0;
    margin-bottom: 32px;
  }

  .footer__link:last-child {
    margin-bottom: 0;
  }
}
