.footer__copyright {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  margin: 0;
  align-self: flex-end;
  /*border: 1px solid blue;*/
  color: #ffffff;
}

@media screen and (max-width: 611px) {
  .footer__copyright {
    align-self: flex-start;
    line-height: 14px;
  }
}
