.intro__text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 32px;
  /*border: 1px solid blue;*/
}
