.header__langs {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 18px 0 6px;
  /*border: 1px solid blue;*/
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .header__langs {
    margin: 15px 0 5px;
  }
}

@media screen and (max-width: 424px) {
  .header__langs {
    margin: 14px 0 4px;
  }
}
