@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__list/_weight/intro__list_weight_normal.css);

.intro {
  max-width: 690px;
  display: flex;
  flex-direction: column;
  /*border: 1px solid blue;*/
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .intro {
    max-width: calc(100% - 48px);
  }
}

@media screen and (max-width: 767px) {
  .intro {
    max-width: calc(100% - 32px);
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    margin: 0 auto;
  }
}
