@import url(./__subtitle/cover__subtitle.css);
@import url(./__overlay/cover__overlay.css);

.cover {
  max-width: 1184px;
  margin: 0 auto;
  background: url('./../../images/cover-background.jpg');
  background-position: center;
  margin-bottom: 92px;
}

@media screen and (min-width: 612px) and (max-width: 1023px) {
  .cover {
    margin-bottom: 88px
  }
}

@media screen and (max-width: 611px) {
  .cover {
    margin-bottom: 64px;
  }
}
