.cover__overlay {
  width: 100%;
  height: 100%;
  background: #2a2c2f;
  position: relative;
  opacity: 0.3;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 245px 0;
}

.cover__overlay:hover {
  opacity: 0.8;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .cover__overlay {
    padding: calc((62.5% - 250px)/2) 0;
  }
}

@media screen and (min-width: 612px) and (max-width: 767px) {
  .cover__overlay {
    padding: calc((62.5% - 200px)/2) 0;
  }
}

@media screen and (min-width: 425px) and (max-width: 611px) {
  .cover__overlay {
    padding: calc((62.5% - 176px)/2) 0;
  }
}

@media screen and (max-width: 424px) {
  .cover__overlay {
    padding: calc((62.5% - 134px)/2) 0;
  }
}

