@import url(./__nav/footer__nav.css);
@import url(./__links/footer__links.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__color/footer__color.css);

.footer {
  max-width: 1184px;
  /*box-sizing: border-box;
  border: 1px solid blue;*/
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .footer {
    max-width: calc(100% - 96px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer {
    max-width: calc(100% - 48px);
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .footer {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding-left: 16px;
  }
}

@media screen and (max-width: 424px) {
  .footer {
    flex-direction: column;
  }
}
